{
    "archiveCategoryID": "",
    "expirationPeriod": {
        "label": "one week",
        "duration": 604800000
    },
    "interval": 86400000,
    "ignoredChannelIDs": [],
    "ignoreParentlessChannels": true
}
